.layout_frame {
 	background: #000000;
	-webkit-padding-start: 0px;
}

.layout_relative {
 	background: #000000;
	-webkit-padding-start: 0px;
}

.layout_vertical{
 	background: #000000;
	-webkit-padding-start: 0px;
}

.layout_horizontal{
 	background: #000000;
	-webkit-padding-start: 0px;
}

.layout_frame div{
  	position: absolute;
}

.layout_relative div{
  	position: relative;
}

.layout_vertical  {
	float:none;
}
.layout_vertical div:first-child {
	display: block;
}

.layout_horizontal {
	float:left;
}
.layout_horizontal div:first-child{
	display: inline;
}
.LinearLayout {
	background: #000000;
	width: 150px;
	height: 300px;
}
.RelativeLayout{
	background: #000000;
	width: 150px;
	height: 300px;
}
.FrameLayout{
	background: #000000;
	width: 150px;
	height: 300px;
}
.EditText {
	height:30px;
	width:160px;
	max-width: 360px;
	max-height: 360px;
	background-color:#FFFFFF;
}

.RadioButton {
	color:#FFFFFF;
	background-color:#000000;
}

.CheckBox {
	color:#FFFFFF;
	background-color:#000000;
}

.Button {
	color:#FFFFFF;
	background-color:#BBBBBB;
	height:25px;
	width:60px;
	text-align: center;
}

.TextView {
	height:30px;
	width:80px;
	color:#FFFFFF;
	background-color:#000000;
	text-align: center;
}

.inputType{
	padding:5px;
}