<<<<<<< HEAD
#layout_frame {
 	background: #000000;
	-webkit-padding-start: 0px;
}

#layout_relative {
 	background: #000000;
	-webkit-padding-start: 0px;
}
=======


>>>>>>> 9ac0314c0cbdf9b5d12b563699484f69459deeac

#layout_vertical{
 	background: #000000;
	-webkit-padding-start: 0px;
}

#layout_horizontal{
 	background: #000000;
	-webkit-padding-start: 0px;
}

#layout_frame div{
  	position: absolute;
}

#layout_relative div{
  	position: relative;
}
<<<<<<< HEAD

#layout_vertical div{
	float:none;
}

#layout_horizontal div{
	float:left;
}

.EditText {
	color:#000000;
	background-color:#FFFFFF;
}

.RadioButton {
	color:#FFFFFF;
	background-color:#000000;
}

.CheckBox {
	color:#FFFFFF;
	background-color:#000000;
}

.Button {
	color:#FFFFFF;
	background-color:#BBBBBB;
}

.TextView {
	color:#FFFFFF;
	background-color:#000000;
}
=======
>>>>>>> 9ac0314c0cbdf9b5d12b563699484f69459deeac
