.layout_frame {
 	background: #000000;
	-webkit-padding-start: 0px;

}

.layout_relative {
 	background: #000000;
	-webkit-padding-start: 0px;

}

.layout_vertical{
 	background: #000000;
	-webkit-padding-start: 0px;
}

.layout_horizontal{
 	background: #000000;
	-webkit-padding-start: 0px;
	
}

.layout_frame div{
  	position: absolute;
}

.layout_relative div{
  	position: relative;
}

.layout_vertical  {
	float:none;
}
.layout_vertical div {
	display: block;
}

.layout_horizontal {
	float:left;
}
.layout_horizontal div{
	display: inline-block;
}
.LinearLayout {
	background: #000000;
	width: 360px;
	height: 360px;
	max-width: 360px;
	max-height: 640px;
	min-height: 30px;
	min-width: 80px;
}
.LinearLayout ul{
	background: #000000;
	width: 100%;
	height: 100%;
}
.RelativeLayout{
	background: #000000;
	width: 360px;
	height: 360px;
	max-width: 360px;
	max-height: 640px;
	min-height: 30px;
	min-width: 80px;
}
.RelativeLayout ul{
	background: #000000;
	width: 100%;
	height: 100%;
}
.FrameLayout{
	background: #000000;
	width: 360px;
	height: 360px;
	max-width: 360px;
	max-height: 640px;
	min-height: 30px;
	min-width: 80px;
}
.EditText {
	height:30px;
	width:100px;
	max-width: 360px;
	max-height: 360px;
	min-height: 30px;
	min-width: 80px;
	background-color:#FFFFFF;
}

.RadioButton {
	color:#FFFFFF;
	background-color:#000000;
}

.CheckBox {
	color:#FFFFFF;
	background-color:#000000;
}

.Button {
	color:#FFFFFF;
	background-color:#BBBBBB;
	height:25px;
	width:60px;
	text-align: center;
	max-width: 360px;
	max-height: 360px;
	min-height: 30px;
	min-width: 80px;
}

.TextView {
	height:30px;
	width:100px;
	color:#FFFFFF;
	background:#000000;
	text-align: center;
	max-width: 360px;
	max-height: 360px;
	min-height: 30px;
	min-width: 80px;
}
.TextView span{
	height:100%;
	width:100%;
	text-align: center;
	max-width: 360px;
	max-height: 360px;
	min-height: 30px;
	min-width: 80px;
}

.inputType{
	
	padding:5px;
	max-width: 360px;
	max-height: 360px;
	min-height: 30px;
	min-width: 80px;
	color:#FFFFFF;
}
.ScrollView{
	width:100%;
	height:100%;
	min-height:100px;
	min-width: 100px;
	max-width:360px;
	max-height:640px;
}
.ScrollView:hover{
	background-color: yellow;
	opacity:0.3;
}